<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swa.quicknotify">

    <uses-sdk android:minSdkVersion="24" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.quicknotify-init"
            tools:replace="android:authorities"
            tools:node="merge">
            <meta-data
                android:name="com.swa.quicknotify.core.QuickNotifyInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>